/* reset css */
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html {
    color-scheme: light dark;
}

img {
    max-width: 100%;
    display: block;
}

/* color scheme & font setup */
:root {
    --clr-text: #210203;
    --clr-background: #d3b99f;
    --clr-accent: #6d98ba;
    --clr-secondary: #cce3f8;
    --clr-primary: #c17767;
    --ff-base: 'DM Sans', sans-serif;
    --ff-accent: 'DM Serif Display', serif;
}

[data-theme="dark"] {
    --clr-text: #fdf0d5;
    --clr-background: #241b2e;
    --clr-accent: #d81e5b;
    --clr-secondary: #c6d8d3;
    --clr-primary: #f0544f;
}

/* applying on element*/
/* html, body { min-height: 100%; } */

body {
    font-family: var(--ff-base);
    color: var(--clr-text);
    background-color: var(--clr-background);
    width: min(100% - 3rem, 65ch);
    margin-inline: auto;
    padding-top: 10rem;
}

h1, h2, h3, h4 {
    font-family: var(--ff-accent);
    text-wrap: balance;
}

a {
    color: var(--clr-text);
    text-decoration: none;
}

button {
    color: var(--clr-background);
    padding: 15px 25px;
    background-color: var(--clr-text);
    border: none;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    color: var(--clr-secondary);
    background-color: var(--clr-accent);
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--clr-background);
    z-index: 1;
}

.header {
    width: min(100% - 3rem, 65ch);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4rem 0px 3rem 0px;
    margin-left: auto;
    margin-right: auto;
}

footer {
    font-size: 0.8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 6rem;
    text-align: center;
}

section {
    padding-top: 1rem;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
}

nav a {
    padding-inline: 5px;
    transition: all 0.3s ease 0s;
}

nav a:hover {
    color: var(--clr-primary);
}

em {
    color: var(--clr-text);
    font-size: 0.9rem;
}

span {
    font-size: 0.8rem;
}

/* applying on class */
.logo {
    font-weight: 700;
    font-size: 1.5rem;
}

.copyright {
    padding: 1rem 0;
}

.underline {
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-thickness: 3px;
    text-underline-offset: 0.5rem;
}

.index-intro {
    padding: 11rem 0;
}

/* intro animation */
.index-intro h1, .index-intro h3 {
    display: block;
    width: fit-content;
    position:relative;
    color: transparent;
    animation: text_reveal .5s ease forwards;
    animation-delay: 1s;
}

.index-intro h3 {
    animation-delay: 2s;
}

.index-intro h1 span, .index-intro h3 span {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0%;
    background-color: var(--clr-text);
    animation: text_reveal_box 1s ease;
    animation-delay: 0.5s;
}

.index-intro h3 span {
    animation-delay: 1.5s;
}

/* Keyframes */
@keyframes text_reveal_box {
    50% {
        width: 100%;
        left: 0%;
    }

    100% {
        width: 0%;
        left: 100%;
    }
}

@keyframes text_reveal {
    100% {
        color: var(--clr-text);
    }
}

.contact-intro {
    padding: 7rem 0;
}

/* about page */
.skill h4{
    padding: 0.5rem 0;
}

.skill div {
    display: flex;
    flex-wrap: wrap;
    gap: 0.3rem;
}
.skill a {
    cursor: pointer;
    font-size: 0.8rem;
    line-height: 1.2rem;
    padding: 1px 5px;
    white-space: nowrap;
    color: var(--clr-secondary);
    background-color: var(--clr-accent);
    transition: all 0.6s ease 0s;
}

.skill a:hover {
    color: var(--clr-primary);
    background-color: var(--clr-text);
}

.half {
    display: grid;
    row-gap: 2rem;
    column-gap: 2rem;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.head-photo {
    margin-top: -5rem;
    width:16rem;
}

/* work page  */
.grid {
    display: grid;
    row-gap: 2rem;
    column-gap: 2rem;
    grid-template-columns: 1fr 1fr 1fr;
}

.grid img {
    filter: grayscale(100%);
    opacity: 0.8;
    object-fit: cover;
    aspect-ratio: 1;
    margin-bottom: 0.5rem;
    transition: all 0.6s ease 0s;
}

.grid img:hover {
    scale: 1.02;
    opacity: 1.0;
    filter: grayscale(0%);
}

@media (max-width: 65ch) {
    .grid, .half{
        grid-template-columns: 1fr;
    }
    .head-photo {
        margin-top: 0;
        width: 90%;
    }
}

.secondary-text {
    font-family: inherit;
    font-size: 0.85rem;
    margin-top: 0.3rem;
}

/* contact page  */
.link-button {
    line-height: 3.25rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 0.3rem;
}

/* article page  */
.tag-container {
    display: flex;
    flex-wrap: wrap;
    gap: 0.3rem;
}

.tag-container a {
    font-size: 0.8rem;
    padding: 1px 5px;
    cursor: pointer;
    line-height: 1.2rem;
    white-space: nowrap;
    color: var(--clr-secondary);
    background-color: var(--clr-accent);
    transition: all 0.6s ease 0s;
}

.tag-container a:hover {
    color: var(--clr-primary);
    background-color: var(--clr-text);
}

li {
    margin: 1rem 0;
}

table, th, td {
    padding: 0.5rem;
    border: 1px solid var(--clr-text);
    border-collapse: collapse;
}

caption {
    padding: 0.5rem;
}

.category-container {
    margin-bottom: 3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 0.3rem;
}

.category-container a {
    margin: 0.2rem 0;
    padding: 1px 8px;
    line-height: 2rem;
    border: 2px solid var(--clr-text);
    cursor: pointer;
    transition: all 0.6s ease 0s;
}
.category-container a:hover {
    color: var(--clr-primary);
    background-color: var(--clr-text);
}

.theme {
    width: 1.6rem;
    height: 1.6rem;
    padding-left: 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}